{% extends 'baseapp/index.html' %}

{% load static %}

{% block title %} Постелька - Интернет магазин - Каталог {% endblock %}

{% block description %} {{ block.super }} {% endblock %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">Home</a></li>
				<li><a href="{% url 'show_catalog' %}">Каталог</a></li>
				{% if category %}
				<li class="active">{{ category }}</li>
				{% elif razmer_kpb %}
				<li class="active">{{ razmer_kpb }}</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="shop-page-area pt-75 pb-75">
	<div class="container">
		<div class="row flex-row-reverse">
			<div class="col-lg-9">
				<div class="banner-area pb-30">
					<a href="product-details.html"><img alt="" src="{% static 'img/banner/banner-49.jpg' %}"></a>
				</div>
				<div class="banner-area pb-30">
					{% if category %}
					<h1 style="font-size: 35px;" >{{ category }}</h1>
					{% elif razmer_kpb %}
					<h1 style="font-size: 35px;">Постельньное белье размера {{ razmer_kpb }}</h1>
					{% endif %}
				</div>
				<div class="shop-topbar-wrapper">
					<div class="shop-topbar-left">
						<p>Найдено {{ good_quantity }} результов</p>
					</div>
					<div class="product-sorting-wrapper">
					</div>
				</div>
				<div class="grid-list-product-wrapper">
					<div class="product-grid product-view pb-20">
						<div class="row">

							{% for item in page_object.object_list %}
							<div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
								<div class="product-wrapper">
									<div class="product-img">
										<a href="{% url 'show_good' slug=item.good.slug %}">
											<img alt="" src="{{ item.main_image.image_url }}">
										</a>
										{% if category %}
										{% else %}
										<span style="background-color: black;">{{ item.good.razmer_kpb }}</span>
										{% endif %}
										<div class="product-action">
											<a class="action-wishlist" href="#" title="Wishlist">
												<i class="icon-heart"></i>
											</a>
											<a class="action-cart" href="#" title="Add To Cart">
												<i class="icon-handbag"></i>
											</a>
										</div>
									</div>
									<div class="product-content text-center">
										<h4>
											<a href="{% url 'show_good' slug=item.good.slug %}">{{ item.good.name }}</a>
										</h4>
										<!-- <h4>
											Размер: {{ item.good.razmer_kpb }}
										</h4> -->
										
										<div class="product-price-wrapper">
											<span>{% if category %}от {% endif %}&#8381 {{ item.good.price }}</span>
											<!-- <span class="product-price-old">$120.00 </span> -->
										</div>
									</div>
								</div>
							</div>
							{% endfor %}	
						</div>
					</div>
					{% if is_paginated %}
					<div class="pagination-total-pages">
						<div class="pagination-style">
							<ul>
								<li><a class="prev-next prev" href="{{ prev_url }}"><i class="ion-ios-arrow-left"></i> Prev</a></li>
								{% for n in page_object.paginator.page_range %}
									{% if page_object.number == n %}
									<li><a class="active" href="?page={{ n }}">{{ n }}</a></li>
									{% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
									<li><a href="?page={{ n }}">{{ n }}</a></li>
									{% endif %}

								{% endfor %}
								<li><a>...</a></li>
								<li><a href="?page={{ page_object.paginator.num_pages }}">{{ page_object.paginator.num_pages }}</a></li>
								<li><a class="prev-next next" href="{{ next_url }}">Next<i class="ion-ios-arrow-right"></i> </a></li>

							</ul>
						</div>
						<div class="total-pages">
							<p>Найдено {{ good_quantity }} результатов</p>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-3">
				<div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
					<div class="shop-widget">
						<h4 class="shop-sidebar-title">Категории</h4>
						<div class="shop-catigory">
							<ul id="faq">
								{% for category in categories %}
								<li> <a href="{% url 'show_category' cpu_slug=category.cpu_slug %}">{{ category.name }}</a> </li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="shop-widget mt-40 shop-sidebar-border pt-35 ">
						<h4 class="shop-sidebar-title">Размеры</h4>
						<div class="shop-catigory">
							<ul id="faq">
								<li> <a href="{% url 'show_size' razmer_kpb='1.5 спальный' %}">1.5 спальный</a></li>
								<li> <a href="{% url 'show_size' razmer_kpb='2 спальный' %}">2 спальный</a></li>
								<li> <a href="{% url 'show_size' razmer_kpb='Евро' %}">Евро</a></li>
								<li> <a href="{% url 'show_size' razmer_kpb='Дуэт Семейный' %}">Дуэт Семейный</a></li>
								<li> <a href="{% url 'show_size' razmer_kpb='Евро Макси' %}">Евро Макси</a></li>
							</ul>
						</div>
					</div>
					<!-- <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
						<h4 class="shop-sidebar-title">Price Filter</h4>
						<div class="price_filter mt-25">
							<span>Range:  $100.00 - 1.300.00 </span>
							<div id="slider-range"></div>
							<div class="price_slider_amount">
								<div class="label-input">
									<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
								</div>
								<button type="button">Filter</button> 
							</div>
						</div>
					</div> -->
					<!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
						<h4 class="shop-sidebar-title">By Brand</h4>
						<div class="sidebar-list-style mt-20">
							<ul>
								<li><input type="checkbox"><a href="#">Poure </a></li>
								<li><input type="checkbox"><a href="#">Eveman </a></li>
								<li><input type="checkbox"><a href="#">Iccaso </a></li>
								<li><input type="checkbox"><a href="#">Annopil </a></li>
								<li><input type="checkbox"><a href="#">Origina </a></li>
								<li><input type="checkbox"><a href="#">Perini  </a></li>
								<li><input type="checkbox"><a href="#">Dolloz </a></li>
								<li><input type="checkbox"><a href="#">Spectry </a></li>
							</ul>
						</div>
					</div> -->
					<!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
						<h4 class="shop-sidebar-title">By Color</h4>
						<div class="sidebar-list-style mt-20">
							<ul>
								<li><input type="checkbox"><a href="#">Black </a></li>
								<li><input type="checkbox"><a href="#">Blue </a></li>
								<li><input type="checkbox"><a href="#">Green </a></li>
								<li><input type="checkbox"><a href="#">Grey </a></li>
								<li><input type="checkbox"><a href="#">Red</a></li>
								<li><input type="checkbox"><a href="#">White  </a></li>
								<li><input type="checkbox"><a href="#">Yellow   </a></li>
							</ul>
						</div>
					</div> -->
					<!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
						<h4 class="shop-sidebar-title">Compare Products</h4>
						<div class="compare-product">
							<p>You have no item to compare. </p>
							<div class="compare-product-btn">
								<span>Clear all </span>
								<a href="#">Compare <i class="fa fa-check"></i></a>
							</div>
						</div>
					</div> -->
					<!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
						<h4 class="shop-sidebar-title">Popular Tags</h4>
						<div class="shop-tags mt-25">
							<ul>
								<li><a href="#">Bouquet</a></li>
								<li><a href="#">Event</a></li>
								<li><a href="#">Gift</a></li>
								<li><a href="#">Joy</a></li>
								<li><a href="#">Love </a></li>
								<li><a href="#">Special</a></li>
							</ul>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
 {% endblock %}}
